<!-- <!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
    </head>

    <body style="background-color:powderblue;">
        <h2 style="text-align:center; position:fixed; top: 40%; left: 40%; color: white;"> Sorry. Looks like an <b>Error</b>
        occured. <br>Try again.</h2>

    </body>
</html> -->
<html>
    <head>
        <title style="color: orange;">Django Girls blog</title>
    </head>
    <body style="background-color:MediumSeaGreen;">

        <h1><a style="color: white; text-align: center;" href="/">Django Girls Blog</a></h1>

        <div style="color: white; width: 50%;">
            <p style="font-size: 15;">published: 14.06.2014, 12:14</p>
            <h2 style="color: white;"><a style="color:orange; font-size: 21px;" href="">Pretty post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div style="color:white; ">
            <p style="font-size: 15;">published: 14.06.2014, 12:14</p>
            <h2><a style="color:orange; font-size: 21px;" href="">Second post</a></h2>
            <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
