<!-- <!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
    </head>

    <body style="background-color:powderblue;">
        <h2 style="text-align:center; position:fixed; top: 40%; left: 40%; color: white;"> Sorry. Looks like an <b>Error</b>
        occured. <br>Try again.</h2>

    </body>
</html> -->
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        <h1><a href="/">Django Girls Blog</a></h1>

        <div>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
